*{
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
}

h2{
    text-align: center;
    background-color: antiquewhite;
    justify-content: space-around;
}

.container{
    margin-top: 4rem;
    height: 400px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    /* border: 2px solid; */
}
.box{
    border: 1px solid lightgrey;
    /* border-top: none;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray ;
    border-bottom: 2px solid lightgray; */
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}
form{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 4px;
    margin-top: 5em;
}
button{
    width: 5rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: lightgrey;
    height: 2rem;
}
input{
    height: 2rem;
    border: 2px solid lightgray;
    outline: none;
}
input:focus{
    border-bottom: 3px solid black;
}
.red{
    background-color: red;
    color:white
}
.blue{
    background-color: blue;
    color:white
}
.green{
    background-color: green;
    color:white
}
.yellow{
    background-color: yellow;
    color:white
}